{{- $namespaceYaml := include "kubequery.namespace" . }}
{{- $namespace := $namespaceYaml | fromYaml | .namespace }}
{{- if not (lookup "v1" "Secret" $namespace "enroll.secret") }}
apiVersion: v1
kind: Secret
metadata:
  name: enroll.secret
  {{- include "kubequery.namespace" . }}
type: Opaque
stringData:
  enroll.secret: {{ .Values.secrets.enroll_secret }}
{{- else }}
# Secret already exists, skipping creation
{{- end }}