{{- $namespaceYaml := include "kubequery.namespace" . }}
{{- $namespace := $namespaceYaml | fromYaml | .namespace }}
{{- if not (lookup "v1" "Secret" $namespace "nginx-secret") }}
apiVersion: v1
kind: Secret
metadata:
  name: nginx-secret
  {{- include "kubequery.namespace" . }}
type: Opaque
stringData:
  ca.crt: {{ quote .Values.secrets.nginx_secret }}
{{- else }}
# Secret already exists, skipping creation
{{- end }}